
body, html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body {
	font-size:1em;
	background-color: $fsd-purple;
	color: #444;
	
}
	


body:not(.home)	{
				background-color: #fff;
				
}

.logo-base 	{
		
		background-color: $fsd-purple;
		border-bottom: 12px solid $fsd-orange;
		padding: 2em 1em 1em 2em;
		border-bottom: 5px solid $fsd-orange;
}

.main	{
		margin-top: 3em;
}
