
/* =Modules */

.module-portfolio h3, .module-category h3	{
						padding-bottom: 2px;
						border-bottom: 3px solid $fsd-purple;	
						color: #444;
}




.module-portfolio, .module-category 	{
				 	padding: 2px 4px 0px 4px;
				  	border-bottom: 10px solid $fsd-orange;
					min-height: 18em;
}

.module-portfolio:hover, .module-category:hover	{
						background-color: #ccc;
}

.module-portfolio:hover, .module-category:hover	{
							-webkit-transition:background-color 0.5s ease-in;  
							-moz-transition:background-color 0.5s ease-in;  
							-o-transition:background-color 0.5s ease-in;  
							transition:background-color 0.5s ease-in;  
							text-decoration: none;
}

.module-category h3	{
					min-height: 3em;
}

/* We want to insert >> after Read more links */


.module-portfolio p:last-child:after {
  content: " >>";
  color: $fsd-orange;
}

/* but not after img links */
.module-portfolio p:first-child:after {
	content: none;
}

.module-portfolio, .module-category{
					margin-bottom: 2em;
}
